---

- name: create docker network
  community.docker.docker_network:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
    enable_ipv6: false
    ipam_config:
      - subnet: "{{ item.subnet }}"
        gateway: "{{ item.gateway }}"
        iprange: "{{ item.iprange }}"
  loop: "{{ container_network }}"
  loop_control:
    label: "{{ item.name.ljust(12) }}: {{ item.iprange }} - state: {{ item.state | default('present') }}"
  when: container_use_network
  tags:
    - container_network

...
