#jinja2: trim_blocks: True, lstrip_blocks: True
---
# {{ ansible_managed }}
version: 0.1

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#log #}
{%- if registry_log is defined and
      registry_log | count > 0 %}
log:
  {% if registry_log.accesslog is defined and
        registry_log.accesslog | count > 0 %}
  accesslog:
    {% if registry_log.accesslog.disabled is defined and
          registry_log.accesslog.disabled | string | length > 0 %}
    disabled: {{ registry_log.accesslog.disabled | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
  {% endif %}
  {% if registry_log.level is defined and
        registry_log.level | string | length > 0 %}
    {% set _log_level = "info" %}
    {% if registry_log.level in ["error", "warn", "info", "debug"] %}
      {% set _log_level = registry_log.level %}
    {% endif %}
  level: {{ _log_level }}
  {% endif %}
  {% if registry_log.formatter is defined and
        registry_log.formatter | string | length > 0 %}
    {% set _log_formatter = "text" %}
    {% if registry_log.formatter in ["text", "json", "logstash"] %}
      {% set _log_formatter = registry_log.formatter %}
    {% endif %}
  formatter: {{ _log_formatter }}
  {% endif %}
  {% if registry_log.fields is defined and
        registry_log.fields | count > 0 %}
  fields:
    {% for k, v in registry_log.fields.items() %}
    {{ k }}: {{ v }}
    {% endfor %}
  {% endif %}
  {% if registry_log.hooks is defined and
        registry_log.hooks | count > 0 %}
  hooks:
    {{ registry_log.hooks | to_nice_yaml(indent=4, sort_keys=False) | indent(2, False) }}
  {% endif %}
  reportcaller: {{ registry_log.reportcaller | default('false') | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}

{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#storage #}
{%- if registry_storage is defined and registry_storage | count > 0 %}
storage:
  {% if registry_storage.filesystem is defined and
        registry_storage.filesystem | count > 0 %}
  filesystem:
    {% if registry_storage.filesystem.rootdirectory is defined and
          registry_storage.filesystem.rootdirectory | string | length > 0 %}
    rootdirectory: {{ registry_storage.filesystem.rootdirectory }}
    {% endif %}
  {% endif %}
  {% if registry_storage.delete is defined and
        registry_storage.delete.enabled is defined and
        registry_storage.delete.enabled %}
  delete:
    enabled: true
  {% endif %}
  {% if registry_storage.cache is defined and
        registry_storage.cache | count > 0 %}
  cache:
    {% set _cache_blobdescriptor = "inmemory" %}
    {% if registry_storage.cache.blobdescriptor is defined and
          registry_storage.cache.blobdescriptor | string | length > 0 %}
      {% if registry_storage.cache.blobdescriptor in ["redis", "inmemory"] %}
        {% set _cache_blobdescriptor = registry_storage.cache.blobdescriptor %}
      {% endif %}
    {% endif %}
    blobdescriptor: {{ _cache_blobdescriptor }}
    {% if registry_storage.cache.blobdescriptorsize is defined and
          registry_storage.cache.blobdescriptorsize | string | length > 0 %}
    blobdescriptorsize: {{ registry_storage.cache.blobdescriptorsize }}
    {% endif %}
  {% endif %}
  {% if registry_storage.maintenance is defined and
        registry_storage.maintenance | count > 0 %}
    {% set _maintenance = registry_storage.maintenance %}
  maintenance:
    {% for k, v in _maintenance.items() %}
    {{ k }}:
      {{ v | to_nice_yaml(indent=6,sort_keys=False) | indent(6, False) }}
    {% endfor %}
  {% endif %}
  {% if registry_storage.redirect is defined and
        registry_storage.redirect.disable is defined %}
  redirect:
    disable: {{ registry_storage.redirect.disable | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#auth #}
{%- if registry_auth is defined and
      registry_auth | count > 0 %}
auth:
  {% if registry_auth.htpasswd is defined and
        registry_auth.htpasswd | count > 0 %}
  htpasswd:
    {% if registry_auth.htpasswd.realm is defined and
          registry_auth.htpasswd.realm | string | length > 0 %}
    realm: {{ registry_auth.htpasswd.realm }}
    {% endif %}
    {% if registry_auth.htpasswd.path is defined and
          registry_auth.htpasswd.path | string | length > 0 %}
    path: {{ registry_auth.htpasswd.path  }}
    {% endif %}
  {% endif %}
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#middleware #}
{%- if registry_middleware is defined and registry_middleware | count > 0 %}
middleware:
  {{ registry_middleware | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#reporting #}
{%- if registry_reporting is defined and registry_reporting | count > 0 %}
reporting:
  {{ registry_reporting | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#http #}
{% if registry_http is defined and registry_http | count > 0 %}
http:
  {{ registry_http | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#notifications #}
{% if registry_notifications is defined %}
notifications:
  {# registry_notifications | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) #}
  {% if registry_notifications.events is defined and
        registry_notifications.events.includereferences is defined and
        registry_notifications.events.includereferences | string | length > 0 %}
  events:
    includereferences: {{ registry_notifications.events.includereferences | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if registry_notifications.endpoints is defined and
        registry_notifications.endpoints | count > 0 %}
  endpoints:
    {% for e in registry_notifications.endpoints %}
    - name: {{ e.name }}
      {% if e.disabled is defined %}
      disabled: {{ e.disabled | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
      {% endif %}
      {% if e.url is defined and e.url | string | length > 0 %}
      url: {{ e.url }}
      {% endif %}
      {% if e.headers is defined and e.headers | count > 0 %}
      headers:
        {% for k, v in e.headers.items() %}
        {{ k }}:
          {% for xx in v %}
          - {{ xx }}
          {% endfor %}
        {% endfor %}
      {% endif %}
      {% if e.timeout is defined and e.timeout | string | length > 0 %}
      timeout: {{ e.timeout }}
      {% endif %}
      {% if e.threshold is defined and e.threshold | string | length > 0 %}
      threshold: {{ e.threshold }}
      {% endif %}
      {% if e.backoff is defined and e.backoff | string | length > 0 %}
      backoff: {{ e.backoff }}
      {% endif %}
      {% if e.ignoredmediatypes is defined and e.ignoredmediatypes | count > 0 %}
      ignoredmediatypes:
        {% for i in e.ignoredmediatypes %}
        - {{ i }}
        {% endfor %}
      {% endif %}
      {% if e.ignore is defined and e.ignore | count > 0 %}
      ignore:
        {% if e.ignore.mediatypes is defined and e.ignore.mediatypes | count > 0 %}
        mediatypes:
          {% for i in e.ignore.mediatypes %}
          - {{ i }}
          {% endfor %}
        {% endif %}
        {% if e.ignore.actions is defined and e.ignore.actions | count > 0 %}
        actions:
          {% for i in e.ignore.actions %}
          - {{ i }}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#redis #}
{%- if registry_redis is defined and registry_redis | count > 0 %}
redis:
  {{ registry_redis | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#health #}
{%- if registry_health is defined and registry_health | count > 0 %}
health:
  {{ registry_health | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif -%}

{%- if registry_catalog is defined and registry_catalog | count > 0 %}
# catalog:
#   maxentries: 1000
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#proxy #}
{%- if registry_proxy is defined and
      registry_proxy | count > 0 %}
proxy:
  {{ registry_proxy | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#compatibility #}
{%- if registry_compatibility is defined and
      registry_compatibility | count > 0 %}
compatibility:
  {{ registry_compatibility | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif -%}

{# https://github.com/distribution/distribution/blob/main/docs/configuration.md#validation #}
{%- if registry_validation is defined and
      registry_validation | count > 0 %}
validation:
  {{ registry_validation | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif -%}

{%- if registry_policy is defined and registry_policy | count > 0 %}
# policy:
#   repository: []
{% endif -%}

{#
storage:
  filesystem:
    rootdirectory: /var/lib/registry
  azure:
    accountname: accountname
    accountkey: base64encodedaccountkey
    container: containername
  gcs:
    bucket: bucketname
    keyfile: /path/to/keyfile
    credentials:
      type: service_account
      project_id: project_id_string
      private_key_id: private_key_id_string
      private_key: private_key_string
      client_email: client@example.com
      client_id: client_id_string
      auth_uri: http://example.com/auth_uri
      token_uri: http://example.com/token_uri
      auth_provider_x509_cert_url: http://example.com/provider_cert_url
      client_x509_cert_url: http://example.com/client_cert_url
    rootdirectory: /gcs/object/name/prefix
  s3:
    accesskey: awsaccesskey
    secretkey: awssecretkey
    region: us-west-1
    regionendpoint: http://myobjects.local
    forcepathstyle: true
    accelerate: false
    bucket: bucketname
    encrypt: true
    keyid: mykeyid
    secure: true
    v4auth: true
    chunksize: 5242880
    multipartcopychunksize: 33554432
    multipartcopymaxconcurrency: 100
    multipartcopythresholdsize: 33554432
    rootdirectory: /s3/object/name/prefix
    loglevel: debug
  inmemory:
  delete:
    enabled: false
  cache:
    blobdescriptor: inmemory
    blobdescriptorsize: 10000
  maintenance:
    uploadpurging:
      enabled: true
      age: 168h
      interval: 24h
      dryrun: false
    readonly:
      enabled: false
  redirect:
    disable: false
#}
