#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = prune unused container images.
Requires            = docker.service
After               = docker.service

[Service]
Type                = oneshot
EnvironmentFile     = {{ docker_defaults_directory }}/{{ docker_container_prune.name }}

WorkingDirectory    = /tmp
User                = root
Group               = root

ExecStart           = /usr/bin/docker image prune $OPTIONS

[Install]
WantedBy            = multi-user.target
